executor="sge"
queue="short"
commands {
  FastQC {
    walltime="00:30:00"
    procs="1"
    memory="4G"
  }
  RNAfold {
    walltime="00:10:00"
    procs="1"
    memory="1G"
  }
  fastq_processor_riboswitch {
    walltime="02:00:00"
    procs="1"
    memory="200M"
  }
  reportQC {
    walltime="00:10:00"
    procs="1"
    memory="1G"
  }
  report {
    walltime="00:10:00"
    procs="1"
    memory="1G"
  }
}
